In [1]:
# import modules
import pandas as pd
import numpy as np
import plotly
import plotly.plotly as py
import plotly.graph_objs as go 
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [2]:
init_notebook_mode(connected=True)

df = pd.read_csv('final_cleaned_vc_data.csv')
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [3]:
df.head()

,continent,country,region,state,name_of_vc,year_of_establishment,type_of_investor,website,postal_address,pincode,...,email_address,sectors_dealt_with,investment_stage,investment_amount_minimum,investment_amount_maximum,previously_invested_total_amount,total_number_of_companies_funded_so_far,latitude,longitude,code
0,north america,usa,south-eastern,alabama,accomplice,2015.0,private equity firm,www.accomplice.co,"25 first street, suite 303 cambridge, ma 02141...",2141,...,hello@accomplice.co,"cybersecurity,esports,data analytics,smb class...",startups,785000.0,150000000.0,405000000.0,180.0,32.31823,-86.902298,al
1,north america,usa,south,alabama,bonaventure capital,1998.0,venture capital,http://www.bonaventurecapital.net/,820 shades creek parkway\n \n suite 1200\n \n ...,35209,...,info@bonaventurecapital.net,"internet services,internet advertising,network...",early stage,4400000.0,33000000.0,83000000.0,8.0,32.31823,-86.902298,al
2,north america,united states of america,south,argentina,kaszek ventures,2011.0,venture capital,http://www.kaszek.com/,NaN,NaN,...,\ninfo@kaszek.com,NaN,seed \nearly stage venture\nlate stage venture,1700000.0,50000000.0,165200000.0,68.0,-34.603722,-58.381592,ar
3,north america,usa,west,arizona,beechtree capital,1994.0,private,http://www.beechtreecapital.com/,34522 north scottsddale road suite arizona 85266,85266,...,NaN,"entertainment,sports,ecological,ports,medicine",early stage,4400000.0,41600000.0,83500000.0,4.0,34.048927,-111.093731,az
4,north america,usa,west,arizona,"diamond state ventures, l.p.",1999.0,venture capital,http://new.diamondstateventures.com/,diamond state ventures\n suite 400\n little ro...,72201,...,jhays@dsvlp.com,"manufacturing,business services,media,consumer...",early stage,4000000.0,15000000.0,26000000.0,4.0,34.048928,-111.093732,az

In [4]:
df.shape

(1803, 22)

In [5]:
# missing values in each column - How sparse is our data ?
df.isnull().sum()

continent                                   22
country                                     12
region                                      17
state                                        0
name_of_vc                                   0
year_of_establishment                      237
type_of_investor                            82
website                                     56
postal_address                             152
pincode                                    222
linkedin_details                           656
phone_details                              336
email_address                              597
sectors_dealt_with                         176
investment_stage                           223
investment_amount_minimum                  325
investment_amount_maximum                  326
previously_invested_total_amount           645
total_number_of_companies_funded_so_far    242
latitude                                     0
longitude                                    0
code                                         0
dtype: int64

In [6]:
df.dtypes

continent                                   object
country                                     object
region                                      object
state                                       object
name_of_vc                                  object
year_of_establishment                      float64
type_of_investor                            object
website                                     object
postal_address                              object
pincode                                     object
linkedin_details                            object
phone_details                               object
email_address                               object
sectors_dealt_with                          object
investment_stage                            object
investment_amount_minimum                  float64
investment_amount_maximum                  float64
previously_invested_total_amount           float64
total_number_of_companies_funded_so_far    float64
latitude                                    object
longitude                                   object
code                                        object
dtype: object

In [7]:
# gives statistical summary of numeric (float) datatypes in dataframe
df.describe()

,year_of_establishment,investment_amount_minimum,investment_amount_maximum,previously_invested_total_amount,total_number_of_companies_funded_so_far
count,1566.000000,1.478000e+03,1.477000e+03,1.158000e+03,1561.000000
mean,1997.874840,7.845632e+06,2.797514e+08,3.962826e+09,84.380525
std,14.104346,5.020816e+07,5.661715e+09,6.351694e+10,155.720188
min,1870.000000,5.000000e+03,2.500000e+04,1.700000e+05,1.000000
25%,1994.000000,5.000000e+05,1.550000e+07,6.448500e+07,9.000000
50%,2000.000000,1.500000e+06,4.600000e+07,2.448000e+08,32.000000
75%,2007.000000,4.000000e+06,1.000000e+08,7.783700e+08,86.000000
max,2018.000000,1.000000e+09,2.170000e+11,2.000000e+12,1811.000000

In [8]:
# Top 10 entries by Investment Amount Maximum
top = df.nlargest(10, 'investment_amount_maximum')
top[['name_of_vc', 'investment_amount_maximum', 'state']]

                     name_of_vc  investment_amount_maximum          state
919        fidelity biosciences               2.170000e+11  massachusetts
1129                      actis               8.400000e+09       new york
450             sequoia capital               7.700000e+09     california
1273  general atlantic partners               7.700000e+09       new york
464        silver lake partners               5.500000e+09     california
1474         warburg pincus llc               5.400000e+09       new york
1183     berchwood partners llp               2.500000e+09       new york
228          francisco partners               2.000000e+09     california
348    meritech capital partner               1.800000e+09     california
349   meritech capital partners               1.800000e+09     california

In [9]:
ten_color = [3,6,9,12,15,18,21,24,27,30] 

data = [
    go.Bar(
        x=top['name_of_vc'], # assign x as the dataframe column 'x'
        y=top['investment_amount_maximum'],
        marker={
        'color': ten_color,
        'colorscale': 'Viridis'
        }
    )
]

layout = go.Layout(
    title='Top Ten VCs by Max Amount Invested',
)

fig = go.Figure(data=data, layout=layout)

iplot(fig, filename='Top Ten VCs by Max Amount Invested.html')

In [10]:
# Top 10 entries by 'Previously Invested Total Amount'
top = df.nlargest(10, 'previously_invested_total_amount')
top[['name_of_vc', 'previously_invested_total_amount', 'state']]

,name_of_vc,previously_invested_total_amount,state
916,f-prime capital\n partners,2.000000e+12,massachusetts
1137,alliancebernstein l.p,7.350000e+11,new york
1436,the blackstone group l.p.,3.600000e+11,new york
365,new enterprise associates,3.970000e+10,california
1398,riverstone holdings llc,3.800000e+10,new york
313,kleiner perkins caufield & byers,3.310000e+10,california
28,accel partners,3.000000e+10,california
1183,berchwood partners llp,3.000000e+10,new york
489,summit partners,2.250000e+10,california
1200,bluemountain capital management llc,2.200000e+10,new york

In [11]:
ten_color = [3,6,9,12,15,18,21,24,27,30] 

data = [
    go.Bar(
        x=top['name_of_vc'], # assign x as the dataframe column 'x'
        y=top['previously_invested_total_amount'],
        marker={
        'color': ten_color,
        'colorscale': 'Viridis'
        }
    )
]

layout = go.Layout(
    title='Top Ten VCs by Previously Invested Total Amount',
)

fig = go.Figure(data=data, layout=layout)

iplot(fig, filename='Top Ten VCs by Previously Invested Total Amount.html')

In [12]:
state_vc = df.groupby('state')['name_of_vc'].nunique()
state_vc

state
alabama             2
argentina           1
arizona             5
arkansas            1
california        647
canada              2
colorado           27
connecticut        37
delaware            6
florida            30
georgia            14
hawaii              2
illinois          121
indiana             7
iowa                3
kansas              1
kentucky            2
louisiana           1
maine               4
maryland           20
massachusetts     180
michigan           15
minnesota          16
mississippi         1
missouri            8
montana             2
nebraska            4
nevada              3
new hampshire       1
new jersey         37
new mexico          2
new york          370
north carolina     14
north dakota        4
ohio               19
oklahoma            1
oregon              5
pennsylvania       44
rhode island        2
seattle             1
south carolina      2
south dakota        1
tennessee          11
texas              60
utah                5
vermont             1
virginia           20
washington         37
west virginia       3
wisconsin           1
Name: name_of_vc, dtype: int64

In [13]:
# remove argentina and canada entries...we only want to analyse US states 
df.drop(df[df.state == 'argentina'].index, inplace=True)
df.drop(df[df.state == 'canada'].index, inplace=True)

In [14]:
state_vc_df = pd.DataFrame({'total_vc' : df.groupby('state')['name_of_vc'].nunique()}).reset_index()

df.code = df.code.str.replace(' ', '')
    
df['state'] = df['state'].astype(str)
codes = []
for s in state_vc_df['state']:
    codes.append(df.loc[df['state'] == s, 'code'].iloc[0].upper())

state_vc_df['codes'] = codes

#state_vc_df = pd.DataFrame({'total_vc' : df.groupby( ["State"] ).size()}).reset_index()
print(state_vc_df)

             state  total_vc codes
0          alabama         2    AL
1          arizona         5    AZ
2         arkansas         1    AR
3       california       647    CA
4         colorado        27    CO
5      connecticut        37    CT
6         delaware         6    DE
7          florida        30    FL
8          georgia        14    GA
9           hawaii         2    HI
10        illinois       121    IL
11         indiana         7    IN
12            iowa         3    IA
13          kansas         1    IA
14        kentucky         2    KY
15       louisiana         1    LA
16           maine         4    ME
17        maryland        20    MD
18   massachusetts       180    MA
19        michigan        15    MI
20       minnesota        16    MN
21     mississippi         1    MS
22        missouri         8    MO
23         montana         2    MT
24        nebraska         4    NE
25          nevada         3    NV
26   new hampshire         1    NH
27      new jersey        37    NJ
28      new mexico         2    NM
29        new york       370    NY
30  north carolina        14    NC
31    north dakota         4    ND
32            ohio        19    OH
33        oklahoma         1    OK
34          oregon         5    OR
35    pennsylvania        44    PA
36    rhode island         2    RI
37         seattle         1    WA
38  south carolina         2    CO
39    south dakota         1    SD
40       tennessee        11    TN
41           texas        60    TX
42            utah         5    UT
43         vermont         1    VT
44        virginia        20    VA
45      washington        37    WA
46   west virginia         3    WV
47       wisconsin         1    WI

In [15]:
layout = go.Layout(
    title = go.layout.Title(
        text = 'Total Venture Capital Firms in Each State'
    ),
)
data = go.Pie(labels=state_vc_df.state, values=state_vc_df.total_vc, textinfo='label',hoverinfo='label+percent+value')

fig = go.Figure(data = [data], layout = layout)

iplot(fig, filename='basic_pie_chart_1.html')

In [16]:
scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,228,235)'],
    [0.4, 'rgb(188,199,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,127,177)'],
    [1.0, 'rgb(94,59,143)']
] 

for col in state_vc_df.columns:
    state_vc_df[col] = state_vc_df[col].astype(str)
    
data = [go.Choropleth(
    colorscale = scl,
    autocolorscale = False,
    locations = state_vc_df.codes,
    z = state_vc_df['total_vc'].astype(int),
    locationmode = 'USA-states',
    text = state_vc_df['state'] + '<br>' + 'Total VC/PE firms: ' + state_vc_df['total_vc'],
    marker = go.choropleth.Marker(
        line = go.choropleth.marker.Line(
            color = 'rgb(255,255,255)',
            width = 2
        )),
    colorbar = go.choropleth.ColorBar(
        title = "VC/PE Firm Count")
)]

layout = go.Layout(
    title = go.layout.Title(
        text = 'Total Venture Capital Firms in Each State'
    ),
    geo = go.layout.Geo(
        scope = 'usa',
        projection = go.layout.geo.Projection(type = 'albers usa'),
        showlakes = True,
        lakecolor = 'rgb(255, 255, 255)'),
)

fig = go.Figure(data = data, layout = layout)
iplot(fig, filename = 'Total Venture Capital Firms in Each State.html')

In [17]:
df.sectors_dealt_with

0       cybersecurity,esports,data analytics,smb class...
1       internet services,internet advertising,network...
3          entertainment,sports,ecological,ports,medicine
4       manufacturing,business services,media,consumer...
5                                      financial services
6                                                     NaN
7       saas,ecommerce,b2b software,software,advertisi...
8                                                 various
9              finance,financial services,venture capital
10      ,analytics,big data,cloud data,services,digita...
11        cloud infrastructure,ecommerce,venture capital
12             finance,financial services,venture capital
13            advertising,consumer,fintech,saas,security
14             consumer,finance,internet,venture capital
15                       advertising,media,entertainment
16      advertising,consumer,information technology,mo...
17      business development,financial services,ventur...
18                                           life science
19                         investment management,advisory
20      mobile,ecommerce,cloud storage,big data,educat...
21                    medical,scientific,legal and finace
22                          pharmaceuticals,biotechnology
23                                      it infrastructure
24                                             technology
25                                             healthcare
26      business and education services,information an...
27                                             healthcare
28      software,mobile,big data,internet of things,se...
29                          mezzanine investments,buyouts
30                                    enterprice software
                              ...
1773                                                  NaN
1774                                           healthcare
1775    healthcare,pharmaceutical,life science,medical...
1776                                    healthcare,pharma
1777                      information technology,software
1778                        intellectual property,patents
1779                                   financial services
1780                     saas,software,technology service
1781                                      retail,software
1782                                    consumer,internet
1783             software,cloud,mobile,technology sectors
1784                                     defense industry
1785                                                  NaN
1786     cleantech,digital biology,information technology
1787               life science and healthcare industries
1788    living and digital,resorts,financial services ...
1789                                                  NaN
1790    wireless,broadband and network transactional i...
1791                           digital health,health care
1792    enterprise software,financial services,venture...
1793    technology,wireless,telecommunication,applicat...
1794    informationtechnology,internet,digital media,e...
1795                    big data,cloud computing,software
1796    financial services,information services,intern...
1797    media and communications,energy and natural re...
1798    life sciences,information technology and physi...
1799    real estate investment products,private equity...
1800    information and communications technology,chem...
1801                 early stage technology,life sciences
1802              home automation,vehicles,data analytics
Name: sectors_dealt_with, Length: 1800, dtype: object

In [18]:
df.sectors_dealt_with = df.sectors_dealt_with.str.replace('\n', '').str.strip().replace('\s+', ' ', regex=True)

sf = df.sectors_dealt_with.str.split(',', expand=True).stack().value_counts()

dfx = pd.DataFrame({'sectors':sf.index, 'count':sf.values})

dfx.columns = dfx.columns.str.strip()

# remove row with NaN sector value
dfx = dfx[dfx.sectors != ""]

dfx = dfx.reset_index(drop=True)

dfx.head()

                  sectors  count
0              healthcare    243
1                software    200
2  information technology    175
3      financial services    164
4         venture capital    164

In [19]:
# Top 10 sectors invested in by VCs
tops = dfx.nlargest(10, 'count')

ten_color = [3,6,9,12,15,18,21,24,27,30] 

data = [
    go.Bar(
        x=tops['sectors'], # assign x as the dataframe column 'x'
        y=tops['count'],
        marker={
        'color': ten_color,
        'colorscale': 'Viridis'
        }
    )
]

layout = go.Layout(
    title='Top Ten Sectors Invested in by VCs',
    xaxis=dict(title='SECTORS'),
    yaxis=dict(title='COUNT')
)

fig = go.Figure(data=data, layout=layout)

iplot(fig, filename='Top Ten Sectors Invested in by VCs.html')

In [20]:
yf = pd.DataFrame({'name':df.name_of_vc, 'year':df.year_of_establishment})

yf = yf.fillna(9999)
yf['year'] = yf['year'].astype(int)

In [21]:
# Top 10 oldest VC firms
yfs = yf.nsmallest(10, 'year')

ten_color = [3,6,9,12,15,18,21,24,27,30] 

data = [
    go.Bar(
        x=yfs['name'], # assign x as the dataframe column 'x'
        y=yfs['year'],
        marker={
        'color': ten_color,
        'colorscale': 'Viridis'
        }
    )
]

layout = go.Layout(
    title='Top 10 Oldest VC Firms',
    xaxis=dict(title='VC Firms'),
    yaxis=dict(title='Year of Establishment', range=[1850, 1950])
)

fig = go.Figure(data=data, layout=layout)

iplot(fig, filename='Top 10 oldest VC firms.html')

In [22]:
zf = pd.DataFrame({'name':df.name_of_vc, 'total_companies':df.total_number_of_companies_funded_so_far})

zf = zf.fillna(0)

In [23]:
# Top 10 VCs by Total Number of Companies Funded
zfs = zf.nlargest(10, 'total_companies')

ten_color = [3,6,9,12,15,18,21,24,27,30] 

data = [
    go.Bar(
        x=zfs['name'], # assign x as the dataframe column 'x'
        y=zfs['total_companies'],
        marker={
        'color': ten_color,
        'colorscale': 'Viridis'
        }
    )
]

layout = go.Layout(
    title='Top 10 VCs by Total Number of Companies Funded',
    xaxis=dict(title='VC Firms'),
    yaxis=dict(title='Total Companies Funded', range=[0, 2500])
)

fig = go.Figure(data=data, layout=layout)

iplot(fig, filename='Top 10 VCs by Total Number of Companies Funded.html')